<DOCTYPE html>

<html>
	<head>
		<title></title>
		<meta charset="utf-8"> 
		<link rel="stylesheet" type="text/css" href="css/bootstrap.min.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<div class="container">
			<img class="logo" src="img/logo.png" >
			<div class="row">
				<div class="pesquisar">
					<form class="form-inline" role="form" method="GET" action="lista.html">
						<div class="col-sm-12">
		                	<input class="form-control input-lg" type="text" style="width:650px" placeholder="Digite o nome do produto, marca ou modelo e clique em pesquisar" name="pesquisar" required>
		                    <button type="submit" class="btn btn-warning btn-lg">Pesquisar</button>
		               	</div>
	            	</form>
	            </div>
			</div>
		</div>
		<footer>
			<div id="footer">
				<div class="container">
					&copy Compra Certa
				</div>
			</div>
		</footer>
	</body>
</html>