<!DOCTYPE html>
<html ng-app="myApp" lang="pt-BR">
    <head>
        <meta charset="UTF-8">
        <link href="css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="css/style.css">
    </head>
    <body>
        <nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">          
                
                
            </div>
        </nav>

        <div ng-view="" ></div>

        <footer>
            <div id="footer">
                <div class="container">
                    &copy Compra Certa
                </div>
            </div>
        </footer>

        <script src="js/angular.min.js"></script>

        <script src="js/angular-route.min.js"></script>
        <script src="js/angularCookies.js"></script>
        <script src="app/app.js"></script>

        <script src="app/APIs/compracerta_api.js"></script>
        <script src="app/Controllers/homeController.js"></script>
        <script src="app/Controllers/storelistController.js"></script>
        <script src="app/APIs/compracerta_api.js"></script>
        <script src="app/directives/startFrom.js"></script>
        <script src="app/Config/routeConfiguration.js"></script>

    </body>
</html>

