<!DOCTYPE HTML>
<html lang="pt">
	<head>
		<title></title>

    	<meta charset="utf-8"> 
		<!--<script src="js/jquery.min.js"></script>
   		<script src="js/bootstrap.min.js"></script>-->
		<link href="css/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" type="text/css" href="css/style.css">
	</head>
	<body>
		<nav role="navigation" class="navbar navbar-inverse navbar-fixed-top">
			<div class="container">			 
			    <div class="navbar-header">
			        <a href="indexw.html" class="navbar-brand">Compra Certa</a>
			    </div>
			    <div id="navbarCollapse" class="collapse navbar-collapse">
				    <form role="search" method="GET" action="lista.html" class="navbar-form navbar-left">
					    <div class="form-group">
						    <input type="text" style="width:700px" placeholder="Digite o nome do produto, marca ou modelo e clique em pesquisar" class="form-control" required>
					    </div>
				        <button type="submit" class="btn btn-warning">Pesquisar</button>
				    </form>
				    
				</div>
			</div>
		</nav>

		<div class="container">
			<div class="col-md-4">
				<div class="superior">
					<div class="panel panel-default">
					  	<div class="panel-heading">Ultimas pesquisas </div>
					  	<div class="panel-body">
					    	Produto 1<br><br><hr>
					    	Produto 2<br><br><hr>
					    	Produto 3<br><br><hr>
					    	Produto 4<br><br><hr>
					    	Produto 5<br><br><hr>
					    	Produto 6<br><br><hr>
					  	</div>
					</div>

					<div class="panel panel-default">
					  	<div class="panel-heading">Melhores avaliados</div>
					  	<div class="panel-body">
					    	Produto 1<br><br><hr>
					    	Produto 2<br><br><hr>
					    	Produto 3<br><br><hr>
					    	Produto 4<br><br><hr>
					    	Produto 5<br><br><hr>
					    	Produto 6<br><br><hr>
					  	</div>
					</div>
				</div>
			</div>

			<div class="col-md-8">

				<div class="superior">

					<div class="panel panel-default">

					  	<div class="panel-heading">Resultados para "nome do produto" 
					  		<select class="selecao">
        						<option selected>Ordenar por: </option>
        						<option value="menor">Menor preço</option>
								<option value="maior">Maior preço</option>
    						</select>
    					</div>
					  	<div class="panel-body">

					  		<div class="produto">
								<div class="img-prod">
					  				<img src="img/smartphone-samsung-galaxy-note-iii-gt-n9005.jpg">
					  			</div>
					  			<div class="desc-prod">
					  				<p>Smartphone Samsung Galaxy Note III GT-N9005 Desbloqueado</p>
					  			</div>
					  			<div class="preco-prod">
					  				<p>R$ 1.900,90</p>
					  			</div>
					  			<div class="botao-prod">
					  				<button type="button" class="btn btn-warning btn-xs">Comprar</button><br><br>
					  				<button type="button" class="btn btn-warning btn-xs">Remover</button>
					  			</div>
					  		</div>
					  		<br><br><br><br><br><hr>
					  		<div class="produto">
								<div class="img-prod">
					  				<img src="img/smartphone-samsung-galaxy-s4-gt-i9515.jpg">
					  			</div>
					  			<div class="desc-prod">
					  				<p>Smartphone Samsung Galaxy S4 GT-I9515 Desbloqueado</p>
					  			</div>
					  			<div class="preco-prod">
					  				<p>R$ 2.110,90</p>
					  			</div>
					  			<div class="botao-prod">
					  				<button type="button" class="btn btn-warning btn-xs">Comprar</button><br><br>
					  				<button type="button" class="btn btn-warning btn-xs">Remover</button>
					  			</div>
					  		</div>

					  		<br><br><br><br><br><hr>
					  		<div class="produto">
								<div class="img-prod">
					  				<img src="img/smartphone-lg-g2-mini-d618.jpg">
					  			</div>
					  			<div class="desc-prod">
					  				<p>Smartphone LG G2 Mini D618 Desbloqueado</p>
					  			</div>
					  			<div class="preco-prod">
					  				<p>R$ 584,10</p>
					  			</div>
					  			<div class="botao-prod">
					  				<button type="button" class="btn btn-warning btn-xs">Comprar</button><br><br>
					  				<button type="button" class="btn btn-warning btn-xs">Remover</button>
					  			</div>
					  		</div>

					  		<br><br><br><br><br><hr>
					  		<div class="produto">
								<div class="img-prod">
					  				<img src="img/smartphone-apple-iphone-5s-16gb.jpg">
					  			</div>
					  			<div class="desc-prod">
					  				<p>Smartphone Apple iPhone 5S 16GB Desbloqueado</p>
					  			</div>
					  			<div class="preco-prod">
					  				<p>R$ 1.839,90</p>
					  			</div>
					  			<div class="botao-prod">
					  				<button type="button" class="btn btn-warning btn-xs">Comprar</button><br><br>
					  				<button type="button" class="btn btn-warning btn-xs">Remover</button>
					  			</div>
					  		</div>
					    </div>


					</div>
				</div>
			</div>
		</div>
		<div class="pag">
				<ul class="pagination">
					<li><a href="#">&laquo;</a></li>
					<li><a href="#">1</a></li>
				  	<li><a href="#">2</a></li>
					<li><a href="#">3</a></li>
					<li><a href="#">4</a></li>
					<li><a href="#">5</a></li>
					<li><a href="#">&raquo;</a></li>
				</ul>
			</div>
		<footer>
			<div id="footer">
				<div class="container">
					&copy Compra Certa
				</div>
			</div>
		</footer>
		
	</body>
</html>