.cursor-pointer {
	cursor: pointer;
}

.pag {
	position: relative;
	padding-left: 250px;
	bottom: 0;
}
#footer {
	background-color: black;
	text-align: center;
	color: white;
	font-weight: bold;
	position: fixed;
	bottom: 0;
	width: 100%;
	height: 46px;
	padding-top: 15px;
	padding-left: 0px;
	left: 0px;
}

.img-center{
	width: 100px;
	height: 100px;
	position: absolute;
	top: 73%;
	left: 55%;
	margin-top: -50px;
	margin-left: -50px
}

.top {
	padding-top: 60px;
	padding-bottom: 50px;
}

label {
	margin-left: 110px;
}

.select-filter {
	margin-left: 10px;
   	width: 170px;
  	height: 28px;
   	overflow: hidden;
   	border: #D1D1D1 1px solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
	box-shadow: inset 0px 0px 10px 1px #FEFEFE;
}

.select {
   	margin-left: 7px;
   	width: 170px;
  	height: 28px;
   	overflow: hidden;
   	border: #D1D1D1 1px solid;
	-webkit-border-radius: 3px;
	border-radius: 3px;
	-webkit-box-shadow: inset 0px 0px 10px 1px #FEFEFE;
	box-shadow: inset 0px 0px 10px 1px #FEFEFE;
}

.logo {
	padding-top: 160px;
	padding-left: 195px;
	width: 975px;
}
.search {
	padding-left: 200px;
} 

.navbar-brand {
	padding-left: 33px;
	font-weight: bold;
	font-size: 30px;
}

.title {
	color: #858585;
	display: block;
	font-size: 12px;
	margin-bottom: 2px;
}

.price-prod {
	display: inline;
	float: left;
	width: 15%;
	margin-left: 90px;
	transition: color .2s linear;
	color: #169aff;
	text-decoration: none;
	font-weight: bold;
	font-size: 1.5em;
}


.block {
	margin-bottom: 10px;
	display: block;
}

.btn-xs {
	margin-bottom: 10px;
	width: 67px;
	height: 26px;
}

.img-prod {
	display: inline;
	float: left;
	width: 18%;
}

.button-prod {
	display: block;
	position: absolute;
	margin-left: 635px;
	float: right;
	width: 3%;
}

.line {
	border-bottom: 1px dotted #d6d6d6;
}

.product {
	margin-top: 8px;
margin-bottom: 50px;
}

.desc-prod {
	display: inline;
	float: left;
	width: 35%;
	margin: 0.5px;
	font-size: 11px
}

html, body {
	height: 100%;
}