<div class="container">
	<img class="logo" src="img/logo.png" >
		<div class="row">
			<div class="search">
				<form class="form-inline" role="form">
					<div class="col-sm-12">
		               	<input ng-model="search.name" class="form-control input-lg" type="text" style="width:650px" placeholder="Digite o nome do produto com marca ou modelo e clique em pesquisar" name="pesquisar" autofocus required/>
		                <button ng-click="searchproduct(search.name)" type="submit" class="btn btn-warning btn-lg">Pesquisar</button>
		           	</div>
	           	</form>
	        </div>
	</div>
</div>