<nav ng-show="returnMsg.length" class= "navbar navbar-default alert alert-success" role= "navigation" >
    {{returnMsg}}  
</nav>




    <div class="row1">
        <a href="#/registerPack/0"><div class="col-lg-4">
                <img style="width: 140px; height: 140px;" alt="Generic placeholder image" src="imgs/bloco.jpg" class="img-circle">
                <h2>CADASTRAR BLOCO</h2>
            </div><!-- /.col-lg-4 -->
        </a>
        <a href="#/registerRoom/0"> <div class="col-lg-4">
                <img style="width: 140px; height: 140px;" alt="Generic placeholder image" src="imgs/sala.jpg" class="img-circle">
                <h2>CADASTRAR SALA/LAB</h2>
            </div><!-- /.col-lg-4 -->
        </a>
        <a href="#/allocate"> 
            <div class="col-lg-4">
                <img style="width: 140px; height: 140px;" alt="Generic placeholder image" src="imgs/reservar.jpg" class="img-circle">
                <h2>RESERVAR SALA/LAB</h2>
            </div><!-- /.col-lg-4 -->
        </a>
        </div>
        <div class="row2">
        <a href="#/visualization"> 
            <div class="col-lg-4">
                <img style="width: 140px; height: 140px;" alt="Generic placeholder image" src="imgs/visualizar.jpg" class="img-circle">
                <h2>VISUALIZAÇÃO</h2>
            </div><!-- /.col-lg-4 -->
        </a>
        <a href="#/agenda"> 
            <div class="col-lg-4">
                <img style="width: 140px; height: 140px;" alt="Generic placeholder image" src="imgs/agenda.jpg" class="img-circle">
                <h2>AGENDA</h2>
            </div><!-- /.col-lg-4 -->
        </a>
    </div>


 